.form-group {
  margin: 15px;

  &__label {
    font-size: 24px;
    font-family: Calibri;
  }
  mat-form-field {
    width: 100%;
  }

  &__button-save {
    margin-top: 35px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-family: Calibri;
    font-size: 20px;
    border-radius: 5px;
  }

}
