@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.films-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-right: 32px;

}
