:host {
  display: block;
  height: auto;
  min-height: 100vh;
}
.content {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  @media (max-width: 450px) {
    padding: 0 16px;
  }
}
.add-film__button {
  margin-left: 100px;
}
.active {
  font-family: Calibri;
  font-size: 20px;

}
.validate {
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease;
  float: right;
}
.filter {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  label {
    margin-right: 8px;
    font-family: Montserrat;
  }
}
