

@import '~@angular/material/theming';
@import './assets/styles/colors';
@import './assets/styles/app-color-palette';
@import './assets/styles/app-theme';


$mat-light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$mat-dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);


@include app-style-core();

html, body { height: 100%; }
body {
  margin: 0;
}

.theme-dark {
  @include app-theme($mat-dark-theme);
  h1 {
    color: $white;
  }
}
.theme-light {
  @include app-theme($mat-light-theme);
  button.mat-primary {
    background-color: $base-blue!important;
    mat-icon {
      color: $white;
    }
  }
  h1 {
    color: $black;
  }
}
